<!DOCTYPE html>
<html lang="es-AR" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="/fragments/head :: head">
</head>
<body>
  <header th:replace="/fragments/header :: header"></header>
    <main>
        <div class='container-fluid mt-5'>
            <div class='row col-md-12'>
                <h2 class='title'>Mis Mascotas</h2>
            </div>
              <div class="alert alert-danger" role="alert" th:if="${error != null}" th:text="${error}"></div>
                <div class="alert alert-success" role="alert" th:if="${message != null}" th:text="${message}"></div>
            <div th:if="${mascotas}">
                <div class=' d-flex justify-content-center mb-2'  th:each="masc : ${mascotas}">
                     <div class="card mb-3 col-md-8 shadow-lg p-3  bg-body rounded cardContainer"   >
                         <div class="row g-0">
                             <div class="col-md-4 box">
                                <img th:if="${masc.foto != null}" class="img-fluid rounded-circle" th:src="@{/foto/mascota/__${masc.id}__}" alt="">
                                <img th:if="${masc.foto == null}" class="img-fluid rounded-circle" src="/images/perro_1.png" alt="">
                             </div>
                             <div class="col-md-8">
                                   <div class="card-body">
                                            <h5 class="card-title"  th:text="${masc.nombre}"></h5>
                                            <p class="card-text" th:text="${masc.raza}"></p>

                                        <div class='d-flex align-items-end'>                      
                                            <a th:href="@{/misAtenciones/turnosMascota/__${masc.id}__}"><button type="button" class="btn btn-success " data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            Turnos
                                        </button></a>  
                                        </div>
                                    </div>
                              </div>                         
                        </div>
                      </div>
                    
                  </div>
                </div>
           
    </main>
        <!-- Footer -->
   <footer th:replace="/fragments/footer :: footer"></footer>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
