<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Felices-Veterinaria</title>
    <meta charset="UTF-8">
    <meta name="author" content="Equipo N° 6 ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/carousel.css">
    <link rel="stylesheet" href="./css/styles.css">
 
    <link href="carousel.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5274bdad60.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,200;1,400&display=swap" rel="stylesheet">

</head>
  <body>
    <header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" th:href="@{/}">
        <img src="./images/logoChico.png" alt="logo" />
      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/}" 
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/registro}" th:if="${session.usuariosession == null}">Registro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:if="${session.usuariosession == null}" th:href="@{/login}">Iniciar Sesión</a>
          </li>
          <li>
            <div class="dropdown" th:if="${session.usuariosession != null}">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown button
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" th:href="@{/logout}">Cerrar Sesión</a></li>
                  <li><a class="dropdown-item" th:href="@{/perfil}">Mi Perfil</a></li>
                </ul>
              </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
    <main>
      <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="./images/slider/slider_1.jpg"
              class="d-block w-100"
              alt="..."
            />

            <div class="container">
              <div class="carousel-caption text-start">
                <h1>Lorem ipsum dolor sit</h1>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipiscing elit blandit
                  hac vel lacus dapibus, vehicula felis dignissim conubia dis
                  porttitor mattis cras eget non ultricies.
                </p>
                <!-- <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p> -->
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img
              src="./images/slider/slider_2.jpg"
              class="d-block w-100"
              alt="..."
            />

            <div class="container">
              <div class="carousel-caption">
                <h1>Lorem ipsum dolor sit</h1>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipiscing elit blandit
                  hac vel lacus dapibus, vehicula felis dignissim conubia dis
                  porttitor mattis cras eget non ultricies.
                </p>
                <!-- <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p> -->
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img
              src="./images/slider/slider_3.jpg"
              class="d-block w-100"
              alt="..."
            />

            <div class="container">
              <div class="carousel-caption text-end">
                <h1>Lorem ipsum dolor sit</h1>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipiscing elit blandit
                  hac vel lacus dapibus, vehicula felis dignissim conubia dis
                  porttitor mattis cras eget non ultricies.
                </p>
                <!-- <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p> -->
              </div>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"><i class="fas fa-chevron-left"></i></span>
          
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"><i class="fas fa-chevron-right"></i></span>
        </button>
      </div>

      <div class="container marketing">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
              <img src="./images/card/card_1.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-dark">Go somewhere</a>
              </div>
            </div>
          </div>
          <!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
              <img src="./images/card/card_2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-dark">Go somewhere</a>
              </div>
            </div>
          </div>
          <!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
              <img src="./images/card/card_3.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-dark">Go somewhere</a>
              </div>
            </div>
          </div>
          <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->

        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider" />

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">
              First featurette heading.
              <span class="text-muted">It’ll blow your mind.</span>
            </h2>
            <p class="lead">
              Some great placeholder content for the first featurette here.
              Imagine some exciting prose here.
            </p>
          </div>
          <div class="col-md-5">
            <img
              class="
                bd-placeholder-img bd-placeholder-img-lg
                featurette-image
                img-fluid
                mx-auto
              "
              src="./images/cuerpo/cuerpo_1.jpg"
            
            >
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#eee" />
              
            </svg>
          </div>
        </div>

        <hr class="featurette-divider" />

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">
              Oh yeah, it’s that good.
              <span class="text-muted">See for yourself.</span>
            </h2>
            <p class="lead">
              Another featurette? Of course. More placeholder content here to
              give you an idea of how this layout would work with some actual
              real-world content in place.
            </p>
          </div>
          <div class="col-md-5 order-md-1">
            <img
            class="
              bd-placeholder-img bd-placeholder-img-lg
              featurette-image
              img-fluid
              mx-auto
            "
            src="./images/cuerpo/cuerpo_2.jpg"
          
          >
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#eee" />
            </svg>
          </div>
        </div>

        <hr class="featurette-divider" />

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">
              And lastly, this one. <span class="text-muted">Checkmate.</span>
            </h2>
            <p class="lead">
              And yes, this is the last block of representative placeholder
              content. Again, not really intended to be actually read, simply
              here to give you a better view of what this would look like with
              some actual content. Your content.
            </p>
          </div>
          <div class="col-md-5">
            <img
            class="
              bd-placeholder-img bd-placeholder-img-lg
              featurette-image
              img-fluid
              mx-auto
            "
            src="./images/cuerpo/cuerpo_3.jpg"
          
          >
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#eee" />
            </svg>
          </div>
        </div>

        <hr class="featurette-divider" />

        <!-- /END THE FEATURETTES -->
      </div>
      <!-- /.container -->
      <section class="call-to-action text-white text-center" id="signup">
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <h2 class="mb-4">Contactate con nosotros!!</h2>
              
                    <form class="form-subscribe" id="contactFormFooter" >
                        <!-- Email address input-->
                        <div class="row">
                            <div class="col">
                                <input class="form-control form-control-lg" id="emailAddressBelow" type="email" placeholder="Correo electrónico" data-sb-validations="required,email" />
                            </div>
                            <div class="col-auto"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Enviar</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
  </main>
  <footer th:replace="/fragments/footer :: footer"></footer>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
