<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Registro</title>
    <link rel="stylesheet" href="login.css">
</head>

<body>
    <div class="login-box">
        <h2>Inicie Sesion</h2>
        <form>
            <label for="username">Email</label>
            <input type="text" placeholder="Ingrese Email">

            <label for="password">Contraseña</label>
            <input type="password" placeholder="Ingrese Contraseña">

            <input type="submit" value="Login"> 
            <a href="registro.html">Crear una cuenta</a>
        </form>
    </div>
</body>

</html>